body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* sidebar */

.sidebar-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100vh - 40px);
  background-color: #f5f5f5;
  border-right: 1px solid #e5e5e5;
  padding: 20px;
  overflow: auto;
  z-index: 1000;
}

.sidebar-top {
  border-bottom: 1px solid #000;
  /* padding: 20px; */
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.list-heading {
  padding: 5px 0;
  margin: 10px 0;
  border-bottom: 1px solid #000;
}

.list-heading > div > span {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.new-database-comp {
  padding: 5px 0;
  margin: 5px 0;
  border-bottom: 1px solid #000;
}

.new-database-comp > span {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.new-database-comp > div {
  margin-top: 5px;
}

.new-database-comp > div > div {
  margin-bottom: 10px;
}

.new-database-comp > div > div > input {
  width: 100%;
  padding: 5px;
  /* border: 1px solid #000; */
  border-radius: 5px;
}

.btn-2comp {
  display: flex;
  justify-content: space-between;
}

.ant-menu {
  background-color: #f5f5f5 !important;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 350px;
  width: calc(100vw - 300px);
  height: 60px;
  /* margin-bottom: 80px; */
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > span {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
/* table list */

.table-list-cont {
  margin-top: 80px;
  margin-left: 340px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

.top > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
} 

.top > span {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.table-comp {
  padding: 20px;
  margin: 20px;
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.comp-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.comp-top > span {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

.comp-top > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}

.comp-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.comp-bottom > span {
  font-size: 14px;
  font-weight: 500;
  color: #727272;
  margin-bottom: 5px;
}

/* table data */

.table-data-cont {
  margin-top: 80px;
  margin-left: 340px;
  /* overflow: hidden; */
}

.table {
  width: calc(100vw - 400px);
  height: calc(100vh - 190px);
  overflow: auto;
  /* border-collapse: collapse; */
  padding: 20px;
  
}

/* add column modal */

.add-column-modal > span {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin: 10px 0px;
}

.spans {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.previous-attributes {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}